.theme
{
    
    font-family: sans-serif;
    text-align: center;
}

.buttons
{
    padding: 10px;
    font-size: smaller;
    border-style: ridge;
    border-radius: 8px;
    border-color: black;
    background-color: transparent;
    height: auto;
    width:auto;
    vertical-align: auto;
    cursor: pointer;
    margin-top: inherit;
    text-decoration: none;
    
}

#contact
{

}
.buttons:hover
{
    background-color: gray;
    opacity: 0.7;

}

#resume
{
    


}

#projects
{

}

#projects:hover
{
}

#resume:hover
{

    opacity: 0.7;
}


.grid-item
{

    border:solid;
    /* display:grid; */
    /* border-color: black; */

}



.projectbox
{   
    display: table-cell;
    margin: auto;
    margin-right: 20em;
    text-align: center;
    border:solid;
    border-color: black;
    width: fit-content;
    border-radius: 8px;
}

#projects
{

}

.imgdisgen
{
    
    max-width: 100%;
    max-height: 100%;
    
}

.imgpokemon
{
    
    max-width: 100%;
    max-height: 100%;
    
}


.imgfirstplugin
{
    max-width: 100%;
    max-height: 100%;
    
}

#showmatrix
{
    font-family: fantasy;

}

#listfilters
{
    font-family: fantasy;

}

#description.divdescription
{
    font-size: 0.1em;
    font-family: sans-serif;
}