    /* where i put my variables */
    
     :root {
        --pinkPrimary: #ff00e1;
        --pinkTertiary: #ffa3f4;
        --pinkSecondary: #ff6cda;
        --pinkLinGrad: linear-gradient(to right, var(--pinkPrimary) 0%, var(--pinkSecondary) 100%);
        --pinkTopLeftGrad: repeating-linear-gradient(to left top, var(--pinkTertiary), var(--pinkSecondary));
    }
    
    @Font-face {
        font-family: DINAlternate;
        src: url('fonts/DINAlternate-bold.ttf');
        font-family: Minecraftia;
        src: url('fonts/Minecraftia.ttf');
        font-family: Determination;
        src: url('fonts/DeterminationMonoWebRegular-Z5oq.ttf');
    }
    
    * {
        font-family: Determination;
        font-size: large;
    }
    
    .card {
        /* border-radius: 4px; */
        /* background: #fff; */
        transition: .3s transform cubic-bezier(.155, 1.105, .295, 1.12), .3s box-shadow, .3s -webkit-transform cubic-bezier(.155, 1.105, .295, 1.12);
        cursor: pointer;
        border: 6px inset #ffffff;
    }
    
    .card:hover {
        transform: scale(1.05);
        /* rotateZ(-1deg); */
        /* transform: rotateZ(-1deg); */
        box-shadow: 0 10px 20px rgba(0, 0, 0, .12), 0 4px 8px rgba(0, 0, 0, .06);
        border: 6px inset #ffffff;
        /* opacity: 0.9; */
    }
    
    button {
        margin: 0;
        padding: 0;
        border: none;
    }
    
    col {
        border: 0px;
    }
    
    .data-analytics :is(h5,
    h4,
    h3,
    button,
    span) {
        background: var(--pinkLinGrad);
        background-color: linear-gradient(to right, var(--pinkPrimary) 0%, var(--pinkSecondary) 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    
    .card.data-analytics {
        border: 6px inset var(--pinkPrimary);
        background-color: var(--pinkTertiary);
        /* opacity: 0.9; */
    }
    
    .card.data-analytics:hover {
        background-image: var(--pinkTopLeftGrad);
        background-position: bottom right;
        background-size: 3000%;
        border: 6px inset var(--pinkPrimary);
        background-repeat: repeat-x;
        animation: gradCycle .75s ease-in infinite alternate;
        /* box-shadow: inset 0 0 50px #fff, inset 20px 0 80px #f0f, inset -20px 0 80px #0ff, inset 20px 0 300px #f0f, inset -20px 0 300px #0ff, 0 0 50px #fff, -10px 0 80px #f0f, 10px 0 80px #0ff; */
        /* height: 100%; */
        /* background: repeating-linear-gradient(to left, var(--pinkPrimary) 0%, var(--pinkSecondary) 100%); */
        /* background-size: 400% 100%; */
        /* filter: blur(10px); */
    }
    
    .card.data-analytics::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        transition: .3s;
        z-index: -1;
        color: var(--pinkPrimary);
        box-shadow: 0 0 5px var(--pinkPrimary);
        text-shadow: 0 0 5px var(--pinkPrimary);
    }
    
    .card.data-analytics:hover::before {
        box-shadow: 0 0 220px var(--pinkPrimary);
    }
    
    @keyframes gradCycle {
        0% {
            background-position: bottom right;
        }
        100% {
            background-position: top left;
        }
    }